

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@import "tailwindcss";

body {
  font-family: 'Lato', sans-serif;
  font-weight: 350;
  font-size: 1 rem;
  color: var(--color-texto);
}

@theme {
  --color-lino: #F3F0EC;
  --color-arena: #E7E2DB;
  --color-piedra: #D6CFC7;
  --color-niebla: #ACB4C2;
  --color-noche-profunda: #253241;
  --color-durazno: #E6C7B8;
  --color-terracota: #C5896A;
  --color-texto: #40505D;
  --font-lato: 'Lato', sans-serif;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
   scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;/* IE y Edge antiguos */
}
 

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


.breath-circle {

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  transform-origin: center center;

  position: relative;
  z-index: 1;

  background: #F1DECE;
  border: 1px solid #fdfbfb;

  box-shadow:
    /*inset 0 0 10px 10px #fffef0,*/
    0 0 28px 8px #fff0e2,
    0 0 34px 14px #fff6ed;

  transform: scale(0.6);
  transition-property: transform;
  transition-timing-function: linear;
}

.breath-circle::before {
  content: "";
  position: absolute;
  inset: -45px;
  border-radius: 50%;
  background: rgba(255, 251, 228, 0.42);
  filter: blur(30px);
  z-index: -1;
  pointer-events: none;
}

.breath-circle.expand {
  transform: scale(1.2);
  
}

.breath-circle.holdExpanded {
  transform: scale(1.2);
}

.breath-circle.contract  {
  transform: scale(0.6);
  
}



.breath-circle.holdContracted {
  transform: scale(0.9);
}











/*BOTON PAUSA HOME*/
.pause-button {
  background: radial-gradient(
  circle,
  rgba(255, 199, 143, 0.2) 96%,
  rgba(249, 215, 173, 0.2) 42%
);

  

  
  box-shadow:  
  inset 0 0 25px 4px #F9C799,
  0 0 33px 19px #FFF9D6;
  
}

.wave-ring {
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  border: 1px solid rgba(255,255,255,.6);
  animation: expandRing 3s ease-out infinite;
  pointer-events: none;
}

.wave-ring-2 {
  animation-delay: 1.5s;
}

.wave-ring-3 {
  animation-delay: 3s;
}

@keyframes expandRing {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  100% {
    transform: scale(1.45);
    opacity: 0;
  }
}


.glass-dock {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 50;

  width: 90%;
  max-width: 390px;
  min-height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;

  /* Glass (backdrop me desenfoca lo que esta detras)*/
  background: rgba(23, 70, 89, 0.528);

  backdrop-filter: blur(4.5px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.12),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}