

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@import "tailwindcss";

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1 rem;
}

@theme {
  --color-lino: #F3F0EC;
  --color-arena: #E7E2DB;
  --color-piedra: #D6CFC7;
  --color-niebla: #ACB4C2;
  --color-noche-profunda: #253241;
  --color-durazno: #C5896A;
  --color-texto: #554D4A;
  --font-lato: 'Lato', sans-serif;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
 

.sos-breathing,
main {
  overflow: visible;
}


.breath-circle {
  width: 240px;
  height: 240px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  background: rgba(248, 236, 227, 0.46);
  border: 1px solid #fdfbfb;

  box-shadow:
    inset 0 0 25px 10px #fffef0,
    0 0 28px 8px #fff0e2,
    0 0 34px 14px #fff6ed;

  transform: scale(.85);
  transition-property: transform;
  transition-timing-function: linear;
}

.breath-circle::before {
  content: "";
  position: absolute;
  inset: -45px;
  border-radius: 50%;
  background: rgba(255, 251, 228, 0.42);
  filter: blur(30px);
  z-index: -1;
  pointer-events: none;
}

.breath-circle.expand {
  transform: scale(1.2);
  
}

.breath-circle.holdExpanded {
  transform: scale(1.2);
}

.breath-circle.contract  {
  transform: scale(0.6);
  
}



.breath-circle.holdContracted {
  transform: scale(0.9);
}

.breath-number {
  font-size: 3.5rem;
  color: #554d4a;

  
}









/*BOTON PAUSA HOME*/
.pause-button {
  background: radial-gradient(
  circle,
  rgba(255, 199, 143, 0.2) 96%,
  rgba(249, 215, 173, 0.2) 42%
);
  
  box-shadow:  
  inset 0 0 25px 4px #F9C799,
  0 0 33px 19px #FFF9D6;
  
}

.wave-ring {
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  border: 1px solid rgba(255,255,255,.6);
  animation: expandRing 3s ease-out infinite;
  pointer-events: none;
}

.wave-ring-2 {
  animation-delay: 1.5s;
}

.wave-ring-3 {
  animation-delay: 3s;
}

@keyframes expandRing {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  100% {
    transform: scale(1.45);
    opacity: 0;
  }
}